<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Case Manager">
      <%= assigns[:page_title] || "Events" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    >
    </script>
    <script>
      if (localStorage.theme === 'dark' || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="CaseManager" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="bg-white dark:bg-black dark:text-white antialiased">
    <header class="shadow-lg px-4 sm:px-6 lg:px-8 fixed bg-indigo-600 dark:bg-indigo-800 text-white w-full z-10">
      <div class="flex items-center justify-between py-3 text-sm">
        <div class="flex  items-center gap-4">
          <img src={~p"/images/logo_white.png"} alt="Logo" class="h-9 w-auto" />

          <h1 class="text-base font-bold"><a href="/">Civil Case Manager</a></h1>
          <div class="font-bold text-small">
            <%= if @current_user do %>
              <a href={~p"/cases"} class="mx-2 hover:text-zinc-300">Cases</a>
              <a href={~p"/imported_cases"} class="mx-2 hover:text-zinc-300">Import Queue</a>
              <a href={~p"/places"} class="mx-2 hover:text-zinc-300">Places</a>

              <a
                :if={@current_user.role == :admin}
                href={~p"/users"}
                class="mx-2 hover:text-zinc-300"
              >
                Users
              </a>
            <% end %>
          </div>
        </div>
        <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
          <%= if @current_user do %>
            <li class="text-[0.8125rem] leading-6">
              <%= @current_user.name %>
            </li>
            <li>
              <.link
                href={~p"/users/settings"}
                class="text-[0.8125rem] leading-6 font-semibold hover:text-zinc-300"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-[0.8125rem] leading-6 font-semibold hover:text-zinc-300"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                href={~p"/users/log_in"}
                class="text-[0.8125rem] leading-6 font-semibold hover:text-zinc-300"
              >
                Log in
              </.link>
            </li>
          <% end %>
          <li>
            <.theme_toggle />
          </li>
        </ul>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
