<.live_component
  :if={@live_action in [:validate]}
  module={CaseManagerWeb.CaseLive.FormComponent}
  id={@imported_case.id || :new}
  title={@page_title}
  action={@live_action}
  imported_case={@imported_case}
  case={@case}
  patch={~p"/imported_cases"}
/>
