@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* #events > div {
    animation: fadein 0.5s;
} */

body.initial-mount-complete .fade-in {
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.break-words {
    overflow-wrap: break-word;
    word-break: break-word;

}